.select {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.select__btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(86, 199, 243);
}
.select__title {
  margin: 10px 0;
}
.select__btn:hover {
  background-color: rgb(51, 104, 129);
}
.select__list {
  transform: translate(0,-200%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s ease;
  max-height: 198px;
  overflow: auto;
  width: 100%;
}
.select__item {
  background-color: rgb(86, 199, 243);
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  padding: 10px 0;
}
.app__score {
  margin: 20px 0;
}
.select__item:hover {
  background-color: rgb(51, 104, 129);
}
.select__list--active {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}